In [142]:
import pandas as pd

In [143]:
## Question 1

In [144]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [145]:
## Question 2

In [146]:
movies["revenue"].sum()

395097847444

In [147]:
## Le revenu total de l'industrie du cinéma sur ces 5000 films est de 395097847444$

In [148]:
## Question 3.1

In [149]:
movies["release_date"] = pd.to_datetime(movies["release_date"])
movies["release_date"].dropna()
movies["release_year"] = movies["release_date"].apply(lambda x: x.year)
movies["release_year"].head()

0    2009.0
1    2007.0
2    2015.0
3    2012.0
4    2012.0
Name: release_year, dtype: float64

In [150]:
## Question 3.2

In [151]:
movies["profit"] = movies["revenue"] - movies["budget"] 
movies["profit"].head()

0    2550965087
1     661000000
2     635674609
3     834939099
4      24139100
Name: profit, dtype: int64

In [152]:
## Question 3.3

In [153]:
%matplotlib
movies.groupby("release_year")["profit"].sum().plot()

Using matplotlib backend: Qt5Agg

In [154]:
## Question 4

In [155]:
movies.sort_values("profit", ascending=False).head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,profit
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2009.0,2550965087

In [156]:
## Le film le plus profitable des 5000 films est Avatar.

In [157]:
## Question 5

In [158]:
def cleaner(s):
    s = s.str.replace("\"", "")
    s = s.str.replace("'", "")
    s = s.str.replace(",", "")
    s = s.str.replace("(", "")
    s = s.str.replace(")", "")
    s = s.str.replace("[", "")
    s = s.str.replace("]", "")
    s = s.str.replace("{", "")
    s = s.str.replace("}", "")
    s = s.str.upper()

    return s

In [159]:
cleaned = cleaner(movies["overview"])
cleaned = clean.dropna()

In [160]:
from collections import Counter
compteur = Counter(cleaned.str.split(" ").sum())
pd.Series(compteur).sort_values(ascending=False).head(1)

THE    13893
dtype: int64

In [161]:
## Le mot le plus présent dans la description des films est "The".

In [162]:
## Question 6

In [163]:
movies["original_language"].value_counts().plot(kind= "pie")

In [164]:
## Question 7

In [167]:
def cleaner2(s):
    s = s.str.replace("\"", "")
    s = s.str.replace("'", "")
    s = s.str.replace(",", "")
    s = s.str.replace("(", "")
    s = s.str.replace(")", "")
    s = s.str.replace("[", "")
    s = s.str.replace("]", "")
    s = s.str.replace("{", "")
    s = s.str.replace("}", "")
    s = s.str.replace(":", "")
    s = s.str.replace("name", "")
    s = s.str.replace("iso_3166_1", "")
    s = s.str.replace("of","")
    s = s.str.upper()

    return s

In [168]:
cleaned2 = cleaner2(movies["production_countries"])
cleaned2 = cleaned2.dropna()
cleaned2 = cleaned2.str.split().map(lambda sl: " ".join(s for s in sl if len(s) <3))

In [170]:
compteur2 = Counter(cleaned2.str.split(" ").sum())
compteur2.pop("")
pd.Series(compteur2).sort_values(ascending=False).plot(kind= "pie")

In [171]:
## Question 8

In [172]:
movies["genres"].head()

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [173]:
def cleaner3(s):
    s = s.str.replace("\"", "")
    s = s.str.replace("'", "")
    s = s.str.replace(",", "")
    s = s.str.replace("(", "")
    s = s.str.replace(")", "")
    s = s.str.replace("[", "")
    s = s.str.replace("]", "")
    s = s.str.replace("{", "")
    s = s.str.replace("}", "")
    s = s.str.replace(":", "")
    s = s.str.replace("name", "")
    s = s.str.replace("id", "")
    s = s.str.replace("18", "")
    s = s.str.replace("35", "")
    s = s.str.replace("53", "")
    s = s.str.replace("28", "")
    s = s.str.replace("10749", "")
    s = s.str.replace("12", "")
    s = s.str.replace("80", "")
    s = s.str.replace("878", "")
    s = s.str.replace("27", "")
    s = s.str.replace("10751", "")
    s = s.str.replace("14", "")
    s = s.str.replace("9648", "")
    s = s.str.replace("16", "")
    s = s.str.replace("36", "")
    s = s.str.replace("10402", "")
    s = s.str.replace("10752", "")
    s = s.str.replace("99", "")
    s = s.str.replace("37", "")
    s = s.str.replace("10769", "")
    s = s.str.replace("10770", "")
    s = s.str.replace("Science Fiction", "SF")
    s = s.str.replace("TV Movie", "TV")

    s = s.str.upper()

    return s

In [174]:
cleaned3 = cleaner3(movies["genres"])
cleaned3 = cleaned3.dropna()

In [175]:
compteur3 = Counter(cleaned3.str.split(" ").sum())
compteur3.pop("")
pd.Series(compteur3).sort_values(ascending=False).plot(kind = "pie")

In [176]:
## Question 10

In [177]:
credits["cast"].apply(lambda x: "Brad Pitt" in x).sum()

38

In [178]:
## Brad Pitt a joué dans 38 films sur ces 5000 films.

In [179]:
## Question 11

In [180]:
df = pd.merge(credits, movies[["release_year", "title"]], how = "left")
df["Angelina"] = df["cast"].apply(lambda x: "Angelina Jolie" in x)
df["release_year"].groupby(df["Angelina"]).min().head()

Angelina
False    1916.0
True     1995.0
Name: release_year, dtype: float64

In [181]:
df.sort_values("Angelina", ascending = False).head(5)

,movie_id,title,cast,crew,release_year,Angelina
248,787,Mr. & Mrs. Smith,"[{""cast_id"": 19, ""character"": ""Jane Smith"", ""c...","[{""credit_id"": ""52fe4276c3a36847f8020875"", ""de...",2005.0,True
151,2310,Beowulf,"[{""cast_id"": 24, ""character"": ""Beowulf / Golde...","[{""credit_id"": ""52fe434cc3a36847f8049c1b"", ""de...",2007.0,True
1491,12596,Pushing Tin,"[{""cast_id"": 1, ""character"": ""Nick Falzone"", ""...","[{""credit_id"": ""52fe45039251416c75048bc1"", ""de...",1999.0,True
137,49444,Kung Fu Panda 2,"[{""cast_id"": 5, ""character"": ""Po (voice)"", ""cr...","[{""credit_id"": ""57deba7cc3a36813080070c8"", ""de...",2011.0,True
1282,10428,Hackers,"[{""cast_id"": 16, ""character"": ""Dade Murphy / '...","[{""credit_id"": ""52fe436e9251416c750100bb"", ""de...",1995.0,True

In [ ]:
## Le premier film d'Angelina Jolie sur ces 5000 films date de 1995,il s'agit de Hackers.